@model List<ProdutoModel>
@{
    ViewData["Title"] = "Página de Produtos";
}
<div class="text-center">
    <h4 class="display-5">Cadastro de Produtos</h4>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
        </div>
    }

</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-start border mt-4">
    <a class="btn btn-success w-100" role="button" asp-controller="Produto" asp-action="IncluirProduto">Incluir novo Produto</a>
</div>
<table class="table table-hover table-border mt-4" id="table-grid">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição do Produto</th>
            <th scope="col">Preço de Venda</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ProdutoModel produto in Model)
            {
                <tr>
                    <th scope="row">@produto.Cod_Produto</th>
                    <td>@produto.Des_Descricao</td>
                    <td>@produto.Val_Preco.ToString("N2")</td>
                    <td>
                        <a role="button" class="btn btn-primary btn-sm" asp-route-id="@produto.Cod_Produto" asp-controller="Produto" asp-action="EditarProduto">Editar</a>
                        <a role="button" class="btn btn-secondary btn-sm" asp-route-id="@produto.Cod_Produto" asp-controller="Produto" asp-action="MostrarProduto">Detalhes</a>
                        <a role="button" class="btn btn-danger btn-sm" asp-route-id="@produto.Cod_Produto" asp-controller="Produto" asp-action="ExcluirProduto">Excluir</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd"><td valign="top" colspan="9">Nenhum produto encontrado</td></tr>
        }
    </tbody>
</table>
